services:
  grout:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    environment:
      ADDR: ":8080"
      CACHE_SIZE: "2000"
      STATIC_DIR: "/app/static"
    volumes:
      - ./static:/app/static
    restart: unless-stopped

